.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs_items {
    padding: 10px;
}

.dialog a{
    color: white;
    text-decoration: none;
}

.dialog a:active,
.dialog a:focus {
    color: chartreuse;
}

.messages {
    padding: 10px;
}

.message {

}     